@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Combates Marvel ASP</h1>    
</div>

<div class="text-center">
    <a href="@Url.Action("Index", "Combate")">Puntuar Combate</a>
</div>

<div class="text-center">
    <a href="@Url.Action("Index", "Clasificacion")">Ver Clasificación</a>
</div>


